name: vuepress-deploy

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          submodules: true

      - name: vuepress-deploy
        uses: jenkey2011/vuepress-deploy@master
        env:
          ACCESS_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
          TARGET_REPO: KimYangOfCat/Blog
          TARGET_BRANCH: gh-pages
          BUILD_SCRIPT: yarn && export BASE_BLOG=/Blog/&& yarn build
          BUILD_DIR: blog/.vuepress/dist/
